{% extends 'layout.html' %}

{% block body %}
    <h1>Edit Student</h1>
    {% from "includes/_formhelper.html" import render_field %}
    <form action="" method="POST">
        <div class="form-group">
            {{render_field(form.name, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.npm, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.sClass, class="form-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Update"></p>
    </form>
{% endblock %}